.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.git/**
.DS_Store
**/.DS_Store
npm-debug.log
Thumbs.db
.npm/
.cache/
.temp/
**/.nyc_output
**/coverage/
.github/
*.vsix
# ignore source maps, tests, dot‑files
**/*.map
**/*.ts
.vscode/**
test/**
images/**